<div class="card">
  <div class="card-header">
    <h3 class="card-title">Projects</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped projects table-bordered display no-wrap">
      <thead>
        <tr>
          <th width="5%">STT</th>
          <th width="12%">Name</th>
          <th width="12%">Email</th>
          <th width="30%">Gender</th>
          <th width="10%">Avatar</th>
          <th width="10%">Birthday</th>
          <th width="10%">Role</th>
          <th width="15%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td class="project_progress">{{ user.gender }}</td>
          <td>
            <img [src]="user.avatar" width="100px" alt="{{ user.name }}">
          </td>
          <td>{{ user.birthday }}</td>
          <td>{{ user.role }}</td>
          <td class="project-actions">
            <button class="btn btn-info btn-sm" (click)="editUser($event, user)">
              <i class="fas fa-pencil-alt"></i> Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

